* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "PokemonSolid";
  src: url("/assets/fonts/PokemonSolidNormal.woff") format("woff"),
    url("/assets/fonts/PokemonSolidNormal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  padding: 1rem;
  font-family: system-ui;
}

main {
  padding: 1rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  background-image: url("https://cdn.estore.nu/c/34-category_default/pokemon-leksaker-och-merch.jpg");
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
}

h1 {
  /* color: rgb(255, 248, 153); */
  color: rgb(139, 243, 174);
  letter-spacing: 7px;
  font-size: 5rem;
  font-family: "PokemonSolid";
  -webkit-text-stroke: 1px black;
}
li {
  list-style: none;
}

a {
  /* text-decoration: under; */
  color: black;
}

img {
  width: 200px;
}

ul {
  margin: 0 auto;
  width: 100%;
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
}

.pokemon {
  background: rgb(240, 136, 159);
  padding: 5rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon h1 {
  color: rgb(92, 207, 223);
}
